.blog {
  width: 90vw;
}
.single-blog {
  transition: transform 0.5s ease;
  height: 27rem;
  box-shadow: 0 4px 8px rgb(51, 55, 55);
  padding: 20px;
  border-radius: 10px;
}
.blog-content {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}
.blogfull {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}
.single-blog:hover {
  transform: translateY(-20px);
  /* cursor: pointer; */
  border: 1px solid #2563eb;
  box-shadow: 0 4px 8px rgb(8, 24, 117);
}

.reviewtext {
  font-size: 1.3rem;
  font-weight: 400;
  color: #333;
  line-height: 1.4em;
  height: 4.2em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
  transition: 0.25s ease;
}

.single-blog .blog-image {
  height: 170px;
  display: flex;
  justify-content: center;
}
.single-blog .blog-image img {
  overflow: hidden;
  border-radius: 10px;
  height: 165px;
  box-shadow: 0 2px 4px rgba(9, 11, 10, 0.7);
}
.single-blog .blog-content .more {
  font-size: 16px;
  color: #211881;
  margin-top: 10px;
  transition: 0.8s ease;
}
.single-blog .blog-content .more:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.single-blog .blog-content .more:hover {
  background: #2563eb;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-lg-4,
.col-md-7,
.col-md-5 {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  padding: 15px;
}

/* Responsive */
@media (max-width: 1200px) {
  .col-lg-4,
  .col-md-7 {
    flex: 1 1 50%;
    max-width: 50%;
  }
}
@media (min-width: 2200px) {
  .col-lg-4,
  .col-md-7 {
    flex: 1 1 25%;
    max-width: 50%;
  }
}

@media (max-width: 800px) {
  .col-lg-4,
  .col-md-7 {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
/* Responsive */
@media (max-width: 1000px) {
  .single-blog {
    margin-bottom: 30px;
  }
  .single-blog .blog-content .more::after {
    width: 46%;
    height: 1.7px;
  }
  .blog-content {
    max-width: 100%;
  }
}